<!DOCTYPE html>
<html ng-app="MyFirstApp">

	<head >
		<title>Mi Primera app con Angular</title>
		<meta charset="utf-8">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"> </script>
		<script src="controller8.js"></script>
	</head>
	<body ng-controller="FirstController">
		<input type="text" ng-model="NewPost.title">
		<br>
		<textarea ng-model="NewPost.body"> </textarea>
		<br>
		
		<button ng-click="addPost()">Enviar</button>

		<ul>
			<li ng-repeat="post in posts">
			<h2>{{post.title}}</h2>
			<p>
				{{post.body}}
			</p>
			<h1>Prueba Git</h1>
	</body>

</html>